<header class="site-header">
  <div class="jumbotron docs-page-jumbotron dexie-cloud">
    <div class="container">
      <a href="/">
        <img src="/assets/images/dexie-logo-icon.svg" class="dexie-logo-icon" />
        <h1>Dexie Cloud<span class="beta">BETA</span></h1>
      </a>
      <p>A complete sync solution for Dexie.js</p>
      <a id="get-started-btn" class='getstarted btn btn-primary btn-lg' href='/cloud/#getting-started' role='button'>
        <span class='glyphicon glyphicon-flash'></span>
        <span class='widescreen'>Getting started</span>
        <span class='slimscreen'>Getting started</span>
      </a>
      <!-- <div id="topnav-menu">
        <ul>
          <li><a href="/cloud/">Dexie Cloud</a></li>
          <li><a href="/cloud/authentication">Authentication</a></li>
          <li><a href="/cloud/access-control">Access Control</a></li>
          <li><a href="/cloud/scaling">Scaling</a></li>
          <li><a href="/cloud/backup">Backup</a></li>
          <li><a href="/cloud/api">API</a></li>
          <li><a href="/cloud/rest-api">REST-API</a></li>
          <li><a href="/cloud/pricing">Pricing</a></li>
          <li><a href="/cloud/questions">Q&A</a></li>
        </ul>
      </div> -->
      {% include coming-soon-badge.html %}
    </div>
  </div>
  <!-- <script>
    /*document.getElementById('get-started-btn').className += 
      (location.pathname === '/cloud/get-started' ? " selected" : "");
    document.getElementById('topnav-menu').querySelectorAll("ul>li>a").forEach(function (a) {
      if (location.pathname.endsWith(a.getAttribute('href'))) {
        console.log("Selected: ", a.href);
        a.closest('li').className = 'selected';
      }
    });*/
  </script> -->
</header>
