<header class="site-header">
  <div class="jumbotron docs-page-jumbotron dexie-cloud">
    <div class="video-parent">
      <video class="banner-video" autoplay muted loop>
        <source src="https://dexie.blob.core.windows.net/dexie/Galaxy.mp4" type="video/mp4">
      </video>
    </div>
    <div class="container">
      <a href="/cloud/">
        <img src="/assets/images/dexie-logo-icon.svg" class="dexie-logo-icon" />
        <h1>Dexie Cloud<span class="beta">BETA</span></h1>
      </a>
      <p>A sync service for Dexie.js</p>
      <button id="sign-up-beta-btn" class='getstarted btn btn-success btn-lg' href='/cloud/#getting-started' role='button'>
        <span class='glyphicon glyphicon-flash'></span>
        <span class='widescreen'>Try it?</span>
        <span class='slimscreen'>Try it?</span>
      </button>
      {% include coming-soon-badge.html %}
    </div>
  </div>
</header>
