<header class="site-header">
  <div class="jumbotron docs-page-jumbotron dexie-cloud">
    <div class="container">
      <a href="/">
        <img src="/assets/images/dexie-logo-icon.svg" class="dexie-logo-icon" />
        <h1>Dexie Cloud<span class="beta">BETA</span></h1>
      </a>
      <p>A complete sync solution for Dexie.js</p>
      <a id="get-started-btn" class='getstarted btn btn-primary btn-lg' href='/cloud/#getting-started' role='button'>
        <span class='glyphicon glyphicon-flash'></span>
        <span class='widescreen'>Getting started</span>
        <span class='slimscreen'>Getting started</span>
      </a>
      {% include coming-soon-badge.html %}
    </div>
  </div>
</header>
