<header class="site-header">
  <div class="jumbotron docs-page-jumbotron dexie-cloud">
    <div class="video-parent">
      <video class="banner-video" autoplay muted loop>
        <source src="https://dexie.blob.core.windows.net/dexie/Galaxy.mp4" type="video/mp4">
      </video>
    </div>
    <div class="container">
      <img src="/assets/images/dexie-logo-icon.svg" class="dexie-logo-icon" />
      <h1><a href="/cloud/">Dexie Cloud</a></h1>
      <p>A sync service for Dexie.js</p>
    </div>
  </div>
</header>
