<script src="https://cdn.jsdelivr.net/gh/manucaralmo/GlowCookies@3.1.8/src/glowCookies.min.js"></script>
<script>
  glowCookies.start('en', {
      style: 1,
      analytics: 'G-7W0YET4Q10',
      hideAfterClick: true,
      policyLink: 'https://dexie.org/privacy',
      customScript: [{ type: 'custom', position: 'body', content: "updateSwitchFromStorage();" }]
  });
</script>
<!--
<script async src="https://www.googletagmanager.com/gtag/js?id=G-7W0YET4Q10"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-7W0YET4Q10');
</script>
-->

