<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>
    {% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}
  </title>
  <meta
    name="description"
    content="The easiest way to use IndexedDB. A lightweight, minimalistic wrapper that provides a straightforward API for developers using IndexedDB."
  />

  <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/assets/css/prism-{{ layout.prismStyle }}.css" rel="stylesheet" />
  <link href="/assets/css/stylesheet.css" rel="stylesheet" />
  <link href="/assets/css/docs.css" rel="stylesheet" />
  <link href="/assets/css/font-awesome.min.css" rel="stylesheet" />
  <link rel="shortcut icon" href="/assets/images/favicon-yuri.png" />
  <script src="/assets/js/offline-switch.js"></script>
  <script src="/assets/js/prism-highlight.js"></script>
</head>
