<div class='container'>
  <div class='row'>
    <h1 style="text-align: center; margin: 0 0 10px 0;">Please select edition</h1>
  </div>
  <div class='row'>
    <div class='col-md-3'>
      {% include pricing-card-free.html %}
    </div>
    <div class='col-md-3'>
      {% include pricing-card-prod.html %}
    </div>
    <div class='col-md-3'>
      {% include pricing-card-silver.html %}
    </div>
    <div class='col-md-3'>
      {% include pricing-card-gold.html %}
    </div>
  </div>
</div>
<script>
  document.querySelectorAll('.pricing-box').forEach(box => {
    const dataSection = box.getAttribute('data-section');
    box.onclick = () => {
      document.querySelector(dataSection)?.scrollIntoView({behavior:'smooth'});
      history.pushState(null, null, dataSection);
    };
  });
</script>
