<div class='container'>
  <div class='row'>
    <h1 style="text-align: center; margin: 0 0 10px 0;">Please select edition</h1>
  </div>
  <div class='row'>
    <div class='col-md-3'>
      {% include pricing-card-free.html %}
    </div>
    <div class='col-md-3'>
      {% include pricing-card-prod.html %}
    </div>
    <div class='col-md-3'>
      {% include pricing-card-silver.html %}
    </div>
    <div class='col-md-3'>
      {% include pricing-card-gold.html %}
    </div>
  </div>
  <!--<div class='row'>
    <p style="font-size: 12px; text-align: center;">
      (*) The price is $12 per 100 users. As your userbase grows, upgrade your subscription for $12/mo per pack of 100 production users.<br/>
      (**) By default, storage limit is 100 GB per 100 users, but additional 100 GB can be purchase for $5/mo.<br/>
      (***) Serve up to 200 Web Socket connections per 100 users. This is more than you'll ever need, but if you do, you can contact us for a custom plan.
    </p>
  </div>-->
</div>
<script>
  document.querySelectorAll('.pricing-box').forEach(box => {
    const dataSection = box.getAttribute('data-section');
    box.onclick = () => {
      document.querySelector(dataSection)?.scrollIntoView({behavior:'smooth'});
      history.pushState(null, null, dataSection);
    };
  });
</script>
