<div id="offline-switch">
  <span id="offline-switch-enabled" style="display:none;" title="Make Dexie documentation available offline">
    <span id="offlineOffHeading">Make offline</span>
    <span id="offlineOnHeading">Available offline</span>
    <label class="switch">
      <input
        id="offline-checkbox"
    aria-labelledby="offlineOffHeading"
        type="checkbox"
        onchange="setOffline(event.target.checked)"
      />
      <span class="slider round"></span>
    </label>
  </span>
  <img id="cookie-settings-icon"
    src="/assets/images/cookie-32.png"
    style="margin-left: 8px; width:24px;height: 24px;margin-top: -4px; cursor:pointer; display: none;"
    alt="Cookie settings"
    title="Cookie settings"
    onclick="glowCookies.openSelector();"
  />
  <!-- <script>
    updateSwitchFromStorage();
  </script> -->
</div>
