<div class="container" id="silver-edition">
  <div class="row">
    <div class="col-md-12">
      <h2 style="text-align: center; margin: 30px 0">On-Prem Silver</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">{% include pricing-card-silver.html %}</div>
    <div class="col-md-9">
      <!-- <div class="pricing-box-height" style="position:relative;">
        <div class="vertical-center"> -->
      <div
        class="pricing-box-height"
        style="margin: 20px 5px; position: relative"
      >
        <p style="font-size: 20px; margin-bottom: 16px">
          Run the software run on your own servers or cloud infrastructure
        </p>
        <p style="font-size: 16px; padding-left: 24px">
          <i
            class="fa fa-hand-o-right"
            aria-hidden="true"
            style="margin-left: -24px; width: 24px"
          ></i>
          License to use the software forever.
        </p>
        <p style="font-size: 16px; padding-left: 24px">
          <i
            class="fa fa-hand-o-right"
            aria-hidden="true"
            style="margin-left: -24px; width: 24px"
          ></i>
          No limits on storage or number of users. No or recurring costs.
        </p>
        <p style="font-size: 16px; padding-left: 24px">
          <i
            class="fa fa-hand-o-right"
            aria-hidden="true"
            style="margin-left: -24px; width: 24px"
          ></i>
          Gain complete control over the location of your data for legal or
          compliance reasons.
        </p>
        <p style="font-size: 16px; padding-left: 24px">
          <i
            class="fa fa-hand-o-right"
            aria-hidden="true"
            style="margin-left: -24px; width: 24px"
          ></i>
          5 years of software updates and 1 year of
          <a href="/cloud/pricing#silver-support">Silver Support</a> included in
          the price.
        </p>
        <br />
        <p class="quote small" style="margin-left: 36px">
          “After exploring several options, including major players like
          Firebase, I felt constrained by their complexity and locking
          structures. I sought a platform that not only fostered creativity but
          also expanded our possibilities."
        </p>
        <p class="quote-author small">
          - Bennie Forss, Founder of
          <a href="https://www.zenta.se/">Zenta AB</a>
        </p>

        <div
          style="
            font-size: 18px;
            display: flex;
            justify-content: start;
            width: 100%;
            margin-top: 30px;
          "
        >
          <a
            style="padding: 0 10px; white-space: nowrap"
            href="https://buy.stripe.com/8wM8yAfOjf9HbcsfZ0"
            >Buy Now &raquo;</a
          >
          /
          <a style="padding: 0 10px" href="/contact#sales">Contact Sales</a>
          /
          <a
            style="padding: 0 10px"
            href="https://account.wire.com/conversation-join/?key=earNGQtQbLegPGpz8jAX&code=t8lYpyUrpgFyp53w3vvE&domain=wire.com"
            >Chat with us</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
