<div class='one-page-high' style="position: relative;" id="presentation-prod">
  <div class="vertical-center">
    <div class='container'>
      <div class='row'>
        <h2 style="text-align: center; margin: 0 0 30px 0;">Dexie Cloud Production</h1>
      </div>
      <div class='row'>
        <div class='col-md-3'>
          {% include pricing-card-prod.html %}
        </div>
        <div class='col-md-9'>
          <div class="pricing-box-height" style="position:relative;">
            <div class="vertical-center">
              <p style="font-size: 20px;">
                Enter the world of Dexie Cloud by building powerful apps that run in any browser, phone or desktop, superpowered with
                local-first storage.
              </p>
              <br/>
              <p class="quote">"I was procrastinating on adding Dexie Cloud as I was waiting until I had a decent block of time, but it took me all of 10 minutes."</p>
              <p class="quote-author">- Rupert Manfredi, developer of an AI integrated Dexie Cloud app</p>
              <br/>
              <p style="font-size: 20px;"><a href="/cloud/#getting-started">Get started with Dexie Cloud Free &raquo;</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>