    <div class='container' id="free-edition">
      <div class='row'>
        <div class="col-md-12">
          <h2 style="text-align: center; margin: 30px 0;">The Free Edition</h2>
        </div>
      </div>
      <div class='row'>
        <div class='col-md-3'>
          {% include pricing-card-free.html %}
        </div>
        <div class='col-md-9'>
          <div class="pricing-box-height" style="margin: 20px 5px; position: relative;">
              <p style="font-size: 20px;">
                Enter the world of Dexie Cloud by building powerful apps that run in any browser, phone or desktop, superpowered with
                local-first storage.
              </p>
              <p style="font-size: 16px;padding-left: 24px;"><i class="fa fa-hand-o-right" aria-hidden="true" style="margin-left: -24px; width: 24px;margin-top:10px"></i>
                All features are available including Authentication, Access Control, REST-API and Dexie Cloud Manager.
              </p>
              <p style="font-size: 16px;padding-left: 24px;"><i class="fa fa-hand-o-right" aria-hidden="true" style="margin-left: -24px; width: 24px;"></i>
                Continue developing your app as long as it takes! Its' forever free.
              </p>
              <br/>
              <p class="quote">"I was procrastinating on adding Dexie Cloud as I was waiting until I had a decent block of time, but it took me all of 10 minutes."</p>
              <p class="quote-author">- Rupert Manfredi, developer of an AI integrated Dexie Cloud app</p>
              <br/>
              <p style="font-size: 20px;"><a href="/cloud/#getting-started">Get started with Dexie Cloud Free &raquo;</a></p>
          </div>
        </div>
      </div>
    </div>
