    <div class='container' id="prod-edition">
      <div class='row'>
        <div class="col-md-12">
          <h2 style="text-align: center; margin: 30px 0;">Dexie Cloud Production</h2>
        </div>
      </div>
      <div class='row'>
        <div class='col-md-3'>
          {% include pricing-card-prod.html %}
        </div>
        <div class='col-md-9'>
          <!-- <div class="pricing-box-height" style="position:relative;">
            <div class="vertical-center"> -->
            <div class="pricing-box-height" style="margin: 20px 5px; position: relative;">
              <p style="font-size: 20px; margin-bottom: 16px;">When it's time to get serious!</p>
              <p style="font-size: 16px;padding-left: 24px;"><i class="fa fa-hand-o-right" aria-hidden="true" style="margin-left: -24px; width: 24px;"></i>
                Subscription is purchased in packs of <b>25 seats</b> for only $3 per month. 
              </p>
              <p style="font-size: 16px;padding-left: 24px;"><i class="fa fa-hand-o-right" aria-hidden="true" style="margin-left: -24px; width: 24px;"></i>
                After purchase, use <a href="https://manager.dexie.cloud" targe="_blank">Dexie Cloud Manager</a> to assign seats to your end users.
              </p>
              <p style="font-size: 16px;padding-left: 24px;"><i class="fa fa-hand-o-right" aria-hidden="true" style="margin-left: -24px; width: 24px;"></i>
                Increase or decrease number of seat packs with a few clicks in <a href="https://manager.dexie.cloud" targe="_blank">Dexie Cloud Manager</a>.
              </p>
              <p style="font-size: 16px; padding-left: 24px;"><i class="fa fa-hand-o-right" aria-hidden="true" style="margin-left: -24px; width: 24px;"></i>
                Automate users and seat assignment using the <a href="https://dexie.org/cloud/docs/rest-api">REST api</a>.
              </p>
              <br/>
              <p class="quote small" style="margin-left: 36px;">"Dexie Cloud gave Fablehenge a truly backendless experience and has been essential for our tiny dev team to ship big features like it already happened. It is the perfect abstraction in front of the endless complexity  two-way sync normally entails. Just write your data to IndexedDB with Dexie's best-in-class API. It'll show up where it's supposed to. Nothing could be simpler."</p>
              <p class="quote-author small">- Dusty Phillips Codes, founder of Fablehenge</p>
              <!-- <p class="quote">"Dexie Cloud opens doors to a world of possibilities and makes me look forward to every step of our journey, including multiple apps, prototypes, and client projects."</p> 
              <p class="quote-author small">- Bennie Forss, Zenta AB</p>-->

              <p style="font-size: 20px;">
                <a href="https://buy.stripe.com/14k9CEgSne5D1BS8ww">Buy now &raquo;</a>
              </p>
            </div>
            <!-- </div>
          </div> -->
        </div>
      </div>
    </div>
