<div class="container" id="gold-edition">
  <div class="row">
    <div class="col-md-12">
      <h2 style="text-align: center; margin: 30px 0">On-Prem Gold</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">{% include pricing-card-gold.html %}</div>
    <div class="col-md-9">
      <!-- <div class="pricing-box-height" style="position:relative;">
        <div class="vertical-center"> -->
      <div
        class="pricing-box-height"
        style="margin: 20px 5px; position: relative"
      >
        <p style="font-size: 20px; margin-bottom: 16px">
          Buy off the software and do whatever you want with it (except
          <a href="/cloud/server-software-license-terms">competing with us</a>)
        </p>
        <p style="font-size: 16px; padding-left: 24px">
          <i
            class="fa fa-hand-o-right"
            aria-hidden="true"
            style="margin-left: -24px; width: 24px"
          ></i>
          License to use the software forever. Source code included.
        </p>
        <p style="font-size: 16px; padding-left: 24px">
          <i
            class="fa fa-hand-o-right"
            aria-hidden="true"
            style="margin-left: -24px; width: 24px"
          ></i>
          No limits on storage or number of users. No or recurring costs.
        </p>
        <p style="font-size: 16px; padding-left: 24px">
          <i
            class="fa fa-hand-o-right"
            aria-hidden="true"
            style="margin-left: -24px; width: 24px"
          ></i>
          Gain complete control over the location of your data for legal or
          compliance reasons.
        </p>
        <p style="font-size: 16px; padding-left: 24px">
          <i
            class="fa fa-hand-o-right"
            aria-hidden="true"
            style="margin-left: -24px; width: 24px"
          ></i>
          5 years of software updates (binaries) and 1 year of
          <a href="/cloud/pricing#gold-support">Gold Support</a> included in the
          price.
        </p>
        <br />
        <p class="quote small" style="margin-left: 36px">
          “<b>I'm completely sold!</b> Even considering alternatives like
          CouchDB or Firestore now feels restrictive and cumbersome.
          <b>Dexie Cloud opens doors to a world of possibilities</b> and makes
          me look forward to every step of our journey, including multiple apps,
          prototypes, and client projects."
        </p>
        <p class="quote-author small">
          - Bennie Forss, Founder of
          <a href="https://www.zenta.se/">Zenta AB</a>
        </p>

        <div
          style="
            font-size: 18px;
            display: flex;
            justify-content: start;
            width: 100%;
            margin-top: 30px;
          "
        >
          <a
            style="padding: 0 10px; white-space: nowrap"
            href="https://buy.stripe.com/8wM8yAfOjf9HbcsfZ0"
            >Buy Now &raquo;</a
          >
          /
          <a style="padding: 0 10px" href="/contact#sales">Contact Sales</a>
          /
          <a
            style="padding: 0 10px"
            href="https://account.wire.com/conversation-join/?key=earNGQtQbLegPGpz8jAX&code=t8lYpyUrpgFyp53w3vvE&domain=wire.com"
            >Chat with us</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
