<div class='container' id="silver-edition">
  <div class='row'>
    <div class="col-md-12">
      <h2 style="text-align: center; margin: 30px 0;">On-Prem Silver</h2>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-3'>
      {% include pricing-card-silver.html %}
    </div>
    <div class='col-md-9'>
      <!-- <div class="pricing-box-height" style="position:relative;">
        <div class="vertical-center"> -->
        <div class="pricing-box-height" style="margin: 20px 5px; position: relative;">
          <p style="font-size: 20px; margin-bottom: 16px;">Buy off the software and utilize it as you wish (except <a href="/cloud/server-software-license-terms">competing with us</a>)</p>
          <p style="font-size: 16px;padding-left: 24px;"><i class="fa fa-hand-o-right" aria-hidden="true" style="margin-left: -24px; width: 24px;"></i>
            Run it on your own servers or cloud infrastructure and get complete control over your data.
          </p>
          <p style="font-size: 16px;padding-left: 24px;"><i class="fa fa-hand-o-right" aria-hidden="true" style="margin-left: -24px; width: 24px;"></i>
            No limits or recurring costs. Just a one-time payment.
          </p>
          <p style="font-size: 16px;padding-left: 24px;"><i class="fa fa-hand-o-right" aria-hidden="true" style="margin-left: -24px; width: 24px;"></i>
            3 years of software updates and 1 year of <a href="/cloud/pricing#silver-support">Silver Support</a> included in the price.
          </p>
          <p style="font-size: 16px;padding-left: 24px;"><i class="fa fa-hand-o-right" aria-hidden="true" style="margin-left: -24px; width: 24px;"></i>
            Private git access
          </p>
          <p style="font-size: 16px;padding-left: 24px;"><i class="fa fa-hand-o-right" aria-hidden="true" style="margin-left: -24px; width: 24px;"></i>
            Extended support is optional, but recommended.
          </p>
          <br/>
          <p class="quote small" style="margin-left: 36px;">“After exploring several options, including major players like Firebase, I felt constrained by their complexity and locking structures. I sought a platform that not only fostered creativity but also expanded our possibilities."</p>
          <p class="quote-author small">- Bennie Forss, Founder of Zenta AB</p>

          <p style="font-size: 20px;">
            <a href="https://buy.stripe.com/8wM8yAfOjf9HbcsfZ0">Buy now &raquo;</a>
          </p>
        </div>
        <!-- </div>
      </div> -->
    </div>
  </div>
</div>
