<div class="pricing-box onprem-gold" role="button" data-section="#gold-edition" onclick="location.href='https://buy.stripe.com/cN21680Tp2mVeoE9AD'">
  <h4>On-Prem Gold</h4>
  <p class="price">$ 7,995</p>
  <p class="under-price">(one-time)</p>
  <ul class="features">
    <li>Full Source code</li>
    <li>Install on your own servers</li>
    <li>No limits or recurring costs</li>
    <li>5 years software updates</li>
    <li>1 year <a href="/cloud/pricing#gold-support" onclick="event.stopPropagation()">Gold Support</a></li>
  </ul>
  <p class="explanation">
    When you need deeper integration and support
  </p>
</div>
