<div class="pricing-box onprem-silver" role="button" data-section="#silver-edition" onclick="location.href='https://buy.stripe.com/8wM8yAfOjf9HbcsfZ0'">
  <h4>On-Prem Silver</h4>
  <p class="price">$ 3,495</p>
  <p class="under-price">(one-time)</p>
  <ul class="features">
    <li>Install on your own servers</li>
    <li>No limits or recurring costs</li>
    <li>3 years software updates</li>
    <li>1 year <a href="/cloud/pricing#silver-support" onclick="event.stopPropagation()">Silver Support</a></li>
  </ul>
  <p class="explanation">
    Opt for this when you need full control over your data.
  </p>
</div>
