<p class="big-pill-release-counter" style="width: fit-content; font-weight: bold; font-size: 20pt; color: #000; background-color: #5cb85c; border-radius: 27px; padding: 7px 28px; margin: 18px 0 0 0;">
  <a href="/announcements/2024-03-27">Dexie Cloud has been released!</a>
</p>
<script>
  var releaseDate = new Date("2024-03-27");
  var now = new Date();
  var daysLeft = Math.ceil((releaseDate - now) / (1000 * 60 * 60 * 24));
  if (daysLeft > 0) {
    document.querySelector(".big-pill-release-counter").textContent = `Dexie Cloud Public Release in ${daysLeft} days!`;
    //document.querySelector(".numDaysLeft").textContent = daysLeft;
  } else {
    //document.querySelector(".big-pill-release-counter").textContent = `D`;
  }
</script>
