<style>
  .testimonial {
    background-color: #f9f9f9;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    min-height: 350px;
  }
</style>
<div class='container'>
  <div class='row'>
    <div class='col-md-6'>
      <div class="testimonial">
        <img class="headshot" style="float:left;" src="/assets/images/testimonials/bennie.jpg">
        <p class="quote small">
          “After exploring several options, including major players like Firebase, I felt constrained by their complexity and locking structures. I sought a platform that not only fostered creativity but also expanded our possibilities.
          <br/>

          That's when I discovered Dexie Cloud. In just one year, <b>I've single-handedly built a hybrid web and mobile application for iOS and Android, complete with automatic data synchronization across all devices.</b> The transition from traditional Dexie with live queries to fully integrated Dexie Cloud was seamless and took only a few minutes."
        </p>
        <p class="quote-author small">- Bennie Forss, Zenta AB</p>
        <p>
          <a href="https://www.zenta.se/" target="_blank">www.zenta.se</a>
        </p>
      </div>
    </div>
    <div class='col-md-6'>
      <div class="testimonial">
        <img class="headshot" style="float:right;" src="/assets/images/testimonials/albarin.jpg">
        <p class="quote small">
          “I started using Dexie for my project, and I was worried about integrating user authentication and synchronization into it. However,
          <b>when I discovered Dexie Cloud, I was amazed at how seamlessly I could integrate it into my app.</b> Within minutes, I had my application fully synchronized and authenticated. The documentation provided by Dexie Cloud was also very helpful. It's well-organized and has lots of examples that made it easy to understand and use.
        </p>
        <p class="quote-author small">- Alba Rincon, founder of Routickr</p>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-6'>
      <div class="testimonial">
        <img class="headshot" style="float:left;" src="/assets/images/testimonials/dusty2.jpeg">
        <p class="quote small">
          “<b>Offline-first web apps are no longer difficult.</b> Dexie Cloud gave Fablehenge a truly backendless experience and has been essential for our tiny dev team to ship big features like it already happened. It is the perfect abstraction in front of the endless complexity  two-way sync normally entails. Just write your data to IndexedDB with Dexie's best-in-class API. It'll show up where it's supposed to. Nothing could be simpler.""
        </p>
        <p class="quote-author small">- Dusty Phillips Codes, founder of Fablehenge</p>
      </div>
    </div>
    <div class='col-md-6'>
      <div class="testimonial">
        <img class="headshot" style="float:right;" src="/assets/images/testimonials/naton2.jpeg">
        <p class="quote small">
          “The speed with which you can start and complete an observation is crucial to whether you will prefer my app to Notes - or even pen and paper - at all.

          The discovery of Dexie Cloud made me realize that my bird lists could be shared with others and that there were also ready-made code examples on how to manage invitations, rights and similar things.”          
        </p>
        <p class="quote-author small">- Anton Andreasson, founder of Birdlist</p>
      </div>
    </div>
  </div>
</div>
