<style>
  .testimonial {
    background-color: #f9f9f9;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    min-height: 350px;
  }
  @media (max-width: 768px) {
    .testimonial {
      margin: 20px 0;
      padding: 5px;
    }
  }
  
  .testimonial p.undertext {
    font-size: 14px;
    font-family: Georgia, Times, 'Times New Roman', serif;
  }
</style>
<div class='container'>
  <div class='row'>
    <div class='col-md-6'>
      <div class="testimonial">
        <img class="headshot" style="float:left;" src="/assets/images/testimonials/bennie.jpg">
        <p class="quote small">
          “After exploring several options, including major players like Firebase, I felt constrained by their complexity and locking structures. I sought a platform that not only fostered creativity but also expanded our possibilities.
          <br/>

          That's when I discovered Dexie Cloud. In just one year, <b>I've single-handedly built a hybrid web and mobile application for iOS and Android, complete with automatic data synchronization across all devices.</b> The transition from traditional Dexie with live queries to fully integrated Dexie Cloud was seamless and took only a few minutes.
          <br/><br/>
          <b>What truly sets Dexie Cloud apart is its ability to unleash productivity and nurturing creativity</b>. Unlike other platforms, Dexie Cloud doesn't confine our visions; it expands them. It gives us the freedom to explore and experiment without being limited by complex structures or preconceived ideas.
          <br/><br/>

          Moreover, the support, documentation, and community have been invaluable. Dexie Cloud is more than just a service; it supports and inspires growth and progress.
          <br/><br/>
          
          <b>I'm completely sold!</b> Even considering alternatives like CouchDB or Firestore now feels restrictive and cumbersome. <b>Dexie Cloud opens doors to a world of possibilities</b> and makes me look forward to every step of our journey, including multiple apps, prototypes, and client projects."
        </p>
        <p class="quote-author small">- Bennie Forss, Founder of Zenta AB</p>
        <p class="undertext">
          <a href="https://www.zenta.se/">Zenta AB</a> is using Dexie Cloud to power their app <a href="https://totodo.app">To To-do</a>. It's an AI-driven offline-first task manager that helps users plan their day and reach their goals: <a href="https://totodo.app">https://totodo.app</a>
        </p>
      </div>
    </div>
    <div class='col-md-6'>
      <div class="testimonial">
        <img class="headshot" style="float:right;" src="/assets/images/testimonials/albarin.jpg">
        <p class="quote small">
          “I started using Dexie for my project, and I was worried about integrating user authentication and synchronization into it. However,
          <b>when I discovered Dexie Cloud, I was amazed at how seamlessly I could integrate it into my app.</b> Within minutes, I had my application fully synchronized and authenticated. The documentation provided by Dexie Cloud was also very helpful. It's well-organized and has lots of examples that made it easy to understand and use."
        </p>
        <p class="quote-author small">- Alba Rincon, founder of Routickr</p>
        <p class="undertext">
          <a href="https://www.routickr.com">Routickr</a> is an app that will help users to transform their goals into lasting habits: <a href="https://www.routickr.com">https://www.routickr.com</a>.
        </p>
      </div>

      <div class="testimonial">
        <img class="headshot" style="float:right;" src="/assets/images/testimonials/dusty2.jpeg">
        <p class="quote small">
          “<b><u>Offline-first web apps are no longer difficult</u></b>. Dexie Cloud gave Fablehenge a truly backendless experience and has been essential for our tiny dev team to ship big features like it already happened.
          <b>It is the perfect abstraction in front of the endless complexity two-way sync normally entails.</b>
          Just write your data to IndexedDB with Dexie's best-in-class API. It'll show up where it's supposed to. Nothing could be simpler."
        </p>
        <p class="quote-author small">- Dusty Phillips, founder of Fablehenge</p>
        <p class="undertext">
          <a href="https://www.fablehenge.com/">Fablehenge</a> is an app for story writers to help them track their character relationships, reorganize their outline, and manage their drafts: <a href="https://www.fablehenge.com/">https://www.fablehenge.com/</a>
        </p>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class="col-md-6">
      <div class="testimonial">
        <img class="headshot" style="float:left;" src="/assets/images/testimonials/naton2.jpeg">
        <p class="quote small">
          “The speed with which you can start and complete an observation is crucial to whether you will prefer my app to Notes - or even pen and paper - at all.

          <b>The discovery of Dexie Cloud made me realize that my bird lists could be shared with others and that there were also ready-made code examples</b> on how to manage invitations, rights and similar things.”          
        </p>
        <p class="quote-author small">- Anton Andreasson, founder of Birdlist</p>

        <p class="undertext">
          <a href="https://birdlist.app/">Birdlist</a> is an app for birdwatchers that helps them log their observations, create lists, and share them with friends.
        </p>
      </div>
    </div>
    <div class='col-md-6'>
    </div>
  </div>
</div>
