header.site-header {
  position: relative;
}
#star-button {
	position: absolute;
	bottom: 2px;
	right: 6px;
	z-index: 90;
}
.anchorlink {
	float: left;
	padding-left: 1.2em;
	margin-left: -2.4em;
	max-width: 0;
	max-height: 0;
	overflow: hidden;
	opacity: 0;
	font-weight: normal;
	transition: opacity 0.5s;
	color: #444;
}

.anchorable {
	padding-left: 1.2em;
	margin-left: -1.2em;
}

.anchorable:hover > .anchorlink,
.anchorlink:hover {
	max-width: unset;
	max-height: unset;
	opacity: 0.9;
}
.docs-page-jumbotron {
	padding: 15px 15px 15px 15px;
}

div.video-parent {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	min-width: 100%;
	height: 100%;
	min-height: 100%;
	overflow: hidden;
	z-index: -1;
}
video.banner-video {
	position: absolute;
  left: 0;
	top: 0;
	width: 100%;
	min-width: 100%;
	height: 100%;
	object-fit: cover;
	pointer-events: none;
	z-index: -1;
}

.docs-page-jumbotron.dexie-cloud-docs {
	background-image: linear-gradient(#6e6cf5 0%, #9e70d3 100%);
	background-image: linear-gradient(#8853c5, #9670d3, #707ad3, #5d8fbd);
	background-image: linear-gradient( #5471e9, #1e3fd3,#4b965f);
}

.docs-page-jumbotron.dexie-cloud {
	/*background-color: #9e70d3; */
	/*background-image: linear-gradient(#6e6cf5 0%, #9e70d3 100%);*/
	/*background-image: linear-gradient(#8853c5, #9670d3, #707ad3, #5d8fbd);*/
	/*background-image: linear-gradient( #5471e9, #1e3fd3,#4b965f);*/
	background: transparent; /* rgba(63, 34, 145, 0.3); */
	/* background-image: url('../images/dexie-cloud/norrsken-cropped-compressed.jpg'); */
	color: white;
}

.dexie-cloud .switch input:checked + .slider {
  background-color: #6b21f3;
}

@media screen and (min-width: 768px) {
	.docs-page-jumbotron {
		padding: 70px 0 40px 0;
	}
}

.dexie-cloud a.getstarted.btn {
	margin: 0 0 16px 0;
}

.docs-page-jumbotron.dexie-cloud-docs p {
	font-size: 18px;
	font-weight: normal;
	font-style: italic;
}

a.getstarted.selected {
	background-color: #fff;
	color: #222;
}

pre > code span.token.comment {
	color: #4b965f;
}
