body {
	font-family: Arial, sans-serif;
}

#parallax {
	height: 400px;
	padding: 120px 0 0;
	overflow: hidden;
	color: #FFF;
	text-shadow:
		-1px -2px 5px rgba(0, 0, 0, .5),
		0 0 25px rgba(0, 0, 0, .7);
	background: #2E0854;
}

#parallax .btn {
	text-shadow: none;
}

#parallax .parallax-wrap {
	position: absolute;
	top: 0;
	z-index: 1;
	width: 100%;
	height: 400px;
	overflow: hidden;
}

#parallax .layer img {
	width: 110%;
	min-height: 550px;
	margin: -135px 0 0 -5%;
	opacity: .8;
}

#parallax .container {
	position: relative;
	z-index: 100;
}

#parallax #star-button {
	position: absolute;
	bottom: 6px;
	right: 6px;
	z-index: 90;
}

.getstarted {
	width: 200px;
}

.getstarted:hover {
	border: 1px solid rgba(0, 0, 0, .6);
	box-shadow: 0 0 10px rgba(255, 255, 255, .3);
}

.size-details {
	display: block;
	width: 200px;
	padding: 0 0;
	margin: -1em 0 1em 0;
	color: rgba(255, 255, 255, .5);
	font-size: .8em;
	text-shadow: none;
	text-align: left;
}

#callouts [class^='col-'] {
	margin-bottom: 20px;
}

code {
	float: left;
	width: 100%;
	margin-bottom: 20px;
	overflow: auto;
}

code::-webkit-scrollbar {
    width: 10px;
	height: 10px;
}

code::-webkit-scrollbar-track {
	background: rgba(0, 0, 0, .1);
}

code::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, .2);
	border: 1px solid rgba(0, 0, 0, .15);
	border-radius: 1px;
}

footer {
	padding-bottom: 30px;
	color: #AAA;
	font-size: .9em;
}

img.dexie-logo-icon {
    position:absolute; margin-left: -13px; margin-top: 22px; width: 34px; height: 34px; display: none;
}

.widescreen {
	display: none;
}

@media screen and (min-width: 768px) {
    img.dexie-logo-icon {
        position: absolute;
        margin-left: -21px;
        margin-top: 25px;
        width: 57px;
        height: 57px;
        display: inherit;
    }

	.widescreen {
		display: inherit;
	}

	.slimscreen {
		display: none;
	}

	.getstarted {
		width: 260px;
	}
	
}

table {
	display: block;
	width: 100%;
	overflow: auto;
	margin-top: 0;
	margin-bottom: 16px;
	border-spacing: 0;
	border-collapse: collapse;
}

table td {
	padding: 6px 13px;
	border: 1px solid #ddd;
}

table tr:nth-child(2n) {
	background-color: #f8f8f8;
}

.docs-page {
	margin-bottom: 10px;
	font-size: 16px;
}

.docs-page code {
	float: none;
	margin: 0;
}

.docs-page-subheader {
	border-bottom: 1px solid #f6f6f6;
}

.docs-page-subtitle {
	font-size: 18px;
	margin-top: 10px;
}

.docs-page-subheader h1 {
	margin: 0 0 10px 0;
}

.docs-toc-wrapper {
}

.docs-toc {
	padding: 10px;
}

.docs-toc li {
	list-style: none;
}

.docs-page-jumbotron {
	background-color: #266fc1;
	color: white;
}

.docs-page-jumbotron a:link {
	color: inherit;
}

.docs-page-jumbotron a:visited {
	color: inherit;
	text-decoration: none;
}

.docs-page-jumbotron a:hover {
	color: inherit;
	text-decoration: none;
}

.docs-page-jumbotron a:active {
	color: inherit;
	text-decoration: none;
}

.btn-edit-doc-page {
	font-size: 18px;
	line-height: 1.33;
}

/* Switch */ 
#offline-switch {
	position: absolute;
	top: 16px;
	right: 12px;
	z-index: 90;
	font-size: 10pt;
	font-style: italic;
	opacity: 0.6;
	transition: opacity .4s;
}
#offline-switch #offlineOnHeading {
	display: none;
}
#offline-switch.checked #offlineOnHeading {
	display: inline;
}
#offline-switch.checked #offlineOffHeading {
	display: none;
}

#offline-switch.checked {
	opacity: 1;
	font-style: inherit;
}

#offline-switch .switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch .slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch input:checked + .slider {
  background-color: #2196F3;
}

.switch input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

.switch input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.switch .slider.round {
  border-radius: 34px;
}

.switch .slider.round:before {
  border-radius: 50%;
}