body {
	font-family: Arial, sans-serif;
/*	padding-top: 46px; */
}

/* This rule is needed to adjust in-page hash links to body padding-top:
h1[id]::before, h2[id]::before, h3[id]::before, h4[id]::before, h5[id]::before, h6[id]::before { 
  display: block; 
  content: " "; 
  margin-top: -66px; 
  height: 66px; 
  visibility: hidden; 
  pointer-events: none;
} */

@media (min-width: 768px) {
	/*body {
		padding-top: 28px;
	}*/

	/* This rule is needed to adjust in-page hash links to body padding-top: */
	/*h1[id]::before, h2[id]::before, h3[id]::before, h4[id]::before, h5[id]::before, h6[id]::before { 
		display: block; 
		content: " "; 
		margin-top: -48px;
		height: 48px;
		visibility: hidden; 
		pointer-events: none;
	}*/
}



#parallax {
	height: 400px;
	padding: 80px 0 0;
	overflow: hidden;
	color: #FFF;
	text-shadow:
		-1px -2px 5px rgba(0, 0, 0, .5),
		0 0 25px rgba(0, 0, 0, .7);
	background: #2E0854;
}

#parallax .btn, #star-button {
	text-shadow: none;
}

#parallax .parallax-wrap {
	position: absolute;
	top: 0;
	z-index: 1;
	width: 100%;
	height: 400px;
	overflow: hidden;
}

#parallax .layer img {
	width: 110%;
	min-height: 550px;
	margin: -135px 0 0 -5%;
	opacity: .8;
}

#parallax .container {
	position: relative;
	z-index: 100;
}

#parallax #star-button {
	position: absolute;
	bottom: 6px;
	right: 6px;
	z-index: 90;
}

#cloud-promoter {
	color: #ffffff;
	text-shadow: none;
	text-decoration: none;
}

#cloud-promoter > div.shoutouts {
	overflow: visible;
	text-align: unset;
	margin: 25px 0 0 0;
}
@keyframes promoter-read-more {
	0% {color: rgba(255,255,255,0);}
	75% {color: rgba(255,255,255,0);}
	100% {color: rgba(255,255,255,1);}
}
#cloud-promoter > p {
	padding: 0;
	margin: 0;
	font-size: 10pt;
	font-variant: small-caps;
	color: rgba(255,255,255,1);
	animation-name: promoter-read-more;
	animation-duration: 4s;
}
#cloud-promoter > p:hover {
	text-decoration: underline;
}

.getstarted {
	width: 200px;
}

.getstarted:hover {
	border: 1px solid rgba(0, 0, 0, .6);
	box-shadow: 0 0 10px rgba(255, 255, 255, .3);
}

.size-details {
	display: block;
	width: 200px;
	padding: 0 0;
	margin: -1em 0 1em 0;
	color: rgba(255, 255, 255, .5);
	font-size: .8em;
	text-shadow: none;
	text-align: left;
}

#callouts [class^='col-'] {
	margin-bottom: 20px;
}

pre > code {
	overflow: auto;
	float: left;
	width: 100%;
}

code::-webkit-scrollbar {
    width: 10px;
	height: 10px;
}

code::-webkit-scrollbar-track {
	background: rgba(128, 128, 128, .1);
}

code::-webkit-scrollbar-thumb {
	background: rgba(128, 128, 128, .2);
	border: 1px solid rgba(128, 128, 128, .15);
	border-radius: 1px;
}

footer {
	padding-bottom: 30px;
	color: #AAA;
	font-size: .9em;
}

img.dexie-logo-icon {
    position:absolute; margin-left: -13px; margin-top: 22px; width: 34px; height: 34px; display: none;
}

img.dexie-logo-icon-menu {
	position:absolute;
	transform: translate(-6px,2px);
}


.widescreen {
	display: none;
}

@media screen and (min-width: 768px) {
	img.dexie-logo-icon {
			position: absolute;
			margin-left: -21px;
			margin-top: 25px;
			width: 57px;
			height: 57px;
			display: inherit;
	}
	img.dexie-logo-icon-menu {
		transform: scale(0.85) translate(-7.5px,2.5px);
	}

	.widescreen {
		display: inherit;
	}

	.slimscreen {
		display: none;
	}

	.getstarted {
		width: 260px;
	}
	
}

table {
	display: block;
	width: 100%;
	overflow: auto;
	margin-top: 0;
	margin-bottom: 16px;
	border-spacing: 0;
	border-collapse: collapse;
}

table td {
	padding: 6px 13px;
	border: 1px solid #ddd;
}

table tr:nth-child(2n) {
	background-color: #f8f8f8;
}

.docs-page {
	margin-bottom: 10px;
	font-size: 16px;
}

.docs-page code {
	float: none;
	margin: 0;
}

.docs-page-subheader {
	border-bottom: 1px solid #f6f6f6;
}

.docs-page-subtitle {
	font-size: 18px;
	margin-top: 10px;
}

.docs-page-subheader h1 {
	margin: 0 0 10px 0;
}

.docs-toc-wrapper {
}

.docs-toc {
	padding: 10px;
}

.docs-toc li {
	list-style: none;
}

.docs-page-jumbotron {
	background-color: #266fc1;
	color: white;
}

.docs-page-jumbotron a:link {
	color: inherit;
}

.docs-page-jumbotron a:visited {
	color: inherit;
	text-decoration: none;
}

.docs-page-jumbotron a:hover {
	color: inherit;
	text-decoration: none;
}

.docs-page-jumbotron a:active {
	color: inherit;
	text-decoration: none;
}

.btn-edit-doc-page {
	line-height: 1.33;
	float: right;
	margin-top: 4px;
	padding: 6pt;
	font-size: 10pt;	
}

/* Switch */ 
#offline-switch {
	position: absolute;
	top: 16px;
	right: 76px;
	font-size: 10pt;
	font-style: italic;
	opacity: 0.6;
	transition: opacity .4s;
	color: rgb(240,240,255);
}
@media (min-width: 768px) {
	#offline-switch {
		top: 5px;
		right: 8px;
	}
}

#offline-switch #offlineOnHeading {
	display: none;
}
#offline-switch.checked #offlineOnHeading {
	display: inline;
}
#offline-switch.checked #offlineOffHeading {
	display: none;
}

#offline-switch.checked {
	opacity: 1;
	font-style: inherit;
}

#offline-switch .switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch .slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch input:checked + .slider {
  background-color: #2196F3;
}

.switch input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

.switch input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.switch .slider.round {
  border-radius: 34px;
}

.switch .slider.round:before {
  border-radius: 50%;
}

.navbar {
	margin-bottom: 0;
	min-height: unset;
}

.navbar-nav>li>a {
	padding-top: 4px;
	padding-bottom: 4px;
}
.nav>li>a {
	padding: 4px 15px;
}
.navbar.navbar-default {
	background-color: rgb(72, 72, 92);
	border: 0;
	box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.25);
	z-index: 1;
	width: 100%;
}
.navbar.navbar-default .navbar-nav>li>a, .navbar.navbar-default .navbar-brand,
.navbar-default .navbar-nav>.active>a:hover {
	color: rgb(240,240,255);
	fill: rgb(240,240,255);
}
@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu>li>a {
			color: rgb(190, 190, 218)
	}
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus {
	background-color: unset;
	color: rgb(240,240,255);
}


@media (max-width: 767px) {
	/* Remarkade för att måste lägga på klassen navbar-fixed-top eller vad den hette i detta fall */
	/*body {
		padding-top: 28px;
	}*/
	/* This rule is needed to adjust in-page hash links to body padding-top: 
	h1[id]::before, h2[id]::before, h3[id]::before, h4[id]::before, h5[id]::before, h6[id]::before { 
		display: block; 
		content: " "; 
		margin-top: -48px;
		height: 48px;
		visibility: hidden; 
		pointer-events: none;
	}	*/
}

@media (min-width: 768px) {
	.navbar.navbar-default {
		position: absolute;
		top: 0;
		left: 0;
		background-color: rgba(100,100,140,0.2);
	}

	.navbar-brand {
		height: unset;
		font-size: unset;
		padding: 4px 15px;
	}	
  .navbar {
    border-radius: unset;
	}
	.navbar-nav>li>a {
		padding-top: 4px;
		padding-bottom: 4px;
	}

	/*.navbar-default .navbar-nav>.active>a,
	.navbar-default .navbar-nav>.active>a:hover,
	.navbar-default .navbar-nav>.active>a:focus {
		background-color: rgba(115, 134, 243, 0.8);
	}*/

	.navbar-default .navbar-nav>li>a:hover,
	.navbar-default .navbar-nav>li>a:focus,
	.navbar-default .navbar-nav>.active>a:hover,
	.navbar-default a.navbar-brand:hover  {
		background-color: rgba(165, 165, 221, 0.5);
	}

	.navbar-default .navbar-nav>.open>a,
	.navbar-default .navbar-nav>.open>a:hover,
	.navbar-default .navbar-nav>.open>a:focus {
		background-color: rgb(255, 255, 255);
	}	
}

.beta {
	display: inline-block;
	transform-origin: 12% 25%;
	transform: scale(0.4);
	width: 0.6em;
	max-width: 0.6em;
	overflow: visible;
}

div.shoutouts {
	max-width: 100vw;
	margin: 40px 0;
	text-align: center;
	font-variant: small-caps;
	overflow: hidden;
	white-space: nowrap;
}
.docs-page-jumbotron div.shoutouts {
	margin: 45px 0 20px 0;
}
.dexie-cloud-landing-page .jumbotron {
	margin: 0;
}
div.shoutouts p {
	font-size: 20pt;
}

@media (max-width: 767px) {
	div.shoutouts p { font-size: 12pt; }
}

div.shoutouts p { padding: 1vw 0; display: none; }
div.shoutouts p.shouting { display: unset; }
div.shoutouts .letter {
	display: inline-block;
	line-height: 1em;
}

#form-prompts-area, #signup-form > div.row {
	max-width: 500px;
}

p.prompts-message {
	margin-bottom: 20px;
	margin-top: 20px;
}

p.prompts-message.prompts-sub-message {
	font-weight: bold;
	font-size: 12pt;
	margin-bottom: 5px;
	margin-top: 20px;
}

img.icon {
	width: 16px;
	height: 16px;
	padding: 0;
	margin: 0;
}