---
prismStyle: 'vscode-dark'
---
<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
		{% include navbar.html %}

    {% include header.html %}

    <main class="container">
      {{ content }}
    </main>

    {% include footer.html %}

    <script src='/assets/js/prism-2020.js'></script>
    <script src='/assets/js/prism-svelte.js'></script>
		<script src='/assets/js/jquery.min.js'></script>
		<script src='/assets/js/bootstrap.min.js'></script>

    {% include google-analytics.html %}

    <!-- Include dexie for people wanting to open devtools to laborate -->
    <script async src='https://unpkg.com/dexie'></script>
    
    <!-- Highlight anchors the same way as github wiki works -->
    <script defer src="/assets/js/highlight-anchors.js"></script>
    
  </body>

</html>
