<!DOCTYPE html>
<html>
	<head>
		<title>Dexie.js - Minimalistic IndexedDB Wrapper</title>
		<meta charset='utf-8'>
		<meta http-equiv='X-UA-Compatible' content='IE=edge'>
		<meta name='viewport' content='width=device-width, initial-scale=1'>
		<meta name='description' content='The easiest way to use IndexedDB. A lightweight, minimalistic wrapper that provides a straightforward API for developers using IndexedDB.'>
		<meta name='google-site-verification' content='bFdw7dX5NwJCo_bf9zjRqrunuZ6aHBpIEpBX3oy3ItM'/>
		<link href='/assets/css/bootstrap.min.css' rel='stylesheet'>
		<link href='/assets/css/prism-vscode-dark.css' rel='stylesheet'>
		<link href='/assets/css/stylesheet.css' rel='stylesheet'>
		<link rel="shortcut icon" href="/assets/images/favicon-yuri.png" />
		<script src="/assets/js/lazyload.min.js"></script>
		<script src="/assets/js/offline-switch.js"></script>
		<script src='/assets/js/prism-highlight.js'></script>
	</head>
	<body class='language-javascript'>

		{% include navbar.html %}

		<div class='jumbotron' id='parallax'>
			<div class='parallax-wrap'>
				<div class='layer' data-depth='.3'>
					<img src='/assets/images/bg.png'/>
				</div>
			</div>
			{% include github-star-btn.html %}
			<div class='container'>
				<img src="assets/images/dexie-logo-icon.svg" class="dexie-logo-icon" />
				<h1>Dexie.js</h1>
				<p>A Minimalistic Wrapper for IndexedDB</p>
				<span class='size-details'>( only ~25k minified and gzipped )</span>
				<div style="display: inline-flex;">
					<div style="flex: 1; padding: 0 2px 0 0;">
						<a class='getstarted btn btn-primary btn-lg' href='/docs/Tutorial/Getting-started' role='button'>
							<span class='glyphicon glyphicon-flash'></span>
							<span class='widescreen'>Getting started</span>
							<span class='slimscreen'>Get started</span>
						</a>
					</div>
				</div>
				<br/>
				<div style="padding-top: 18px; "></div>
					<a style="color: white; font-style: italic; opacity: 0.8;" href='https://jsfiddle.net/dfahlander/3tf5r0cu'>
						<span class='glyphicon glyphicon-edit'></span>
						<span>Play in JSFiddle</span>
					</a>
				</div>
				<!-- <a href="/cloud/" id="cloud-promoter">
					<div class="shoutouts">
						<p>Need sync?</p>
						<p>Create collaborative offline-first apps</p>
						<p>Easy to get started</p>
					</div>
					<p>Coming soon: Dexie Cloud<span class="beta">BETA</span><span style="display: inline-block; margin-left: -1em;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&raquo;</span></p>
				</a> -->
			</div>
		</div>

		{{ content }}

		<div class='container'>
			<footer>
				<p>&copy; 2014-2021 Dexie.js is the creation of David Fahlander.</p>
			</footer>
		</div>

		<script src='/assets/js/jquery.min.js'></script>
		<script src='/assets/js/bootstrap.min.js'></script>
		<script src='/assets/js/prism-2020.js'></script>
		<script src='/assets/js/prism-svelte.js'></script>
		<script src='/assets/js/parallax.min.js'></script>
    <script src="/assets/js/anime.min.js"></script>
    <script src="/assets/js/shoutouts.js"></script>
		<script>
			new Parallax(document.getElementById('parallax'));
			var lazyLoadInstance = new LazyLoad({});
			document.addEventListener("DOMContentLoaded", prismHighlight.highlight);
      document.querySelectorAll('a[href^="#"]').forEach((anchor) => {
        anchor.addEventListener("click", function (e) {
          e.preventDefault();

          document.querySelector(this.getAttribute("href")).scrollIntoView({
            behavior: "smooth",
          });
        });
      });
		</script>
		{% include google-analytics.html %}
		<script async defer src='//unpkg.com/dexie'></script>
	</body>
</html>
