---
prismStyle: 'vscode-dark'
---
<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
		{% include navbar.html %}
    {% include dexie-cloud-header.html %}

    <main class="container">
      <div id="callouts">
        <div class="row">
          <div class="col-md-3">
            <h2>Offline First</h2>
            <p>
              Create full-blown offline-first apps without ever needing a server. Changes are synced instantly and securely between the browser and the cloud. When offline,
              your users can continue using your app without disruptions.
              Give your users seamless offline/online experience.
            </p>
            <p>
              <a class="btn btn-success" href="offline-first" role="button"
                >Read more &raquo;</a
              >
            </p>
          </div>
          <div class="col-md-3">
            <h2>Authentication</h2>
            <p>
              Take advantage of the secure and passwordless email OTP
              that comes with Dexie Cloud. If you don't have a server,
              this is an easy way to get going. If you prefer, you can also easily integrate
              with Google or any other 3rd party authentication or your own
              custom authentication system.
            </p>
            <p>
              <a class="btn btn-success" href="authentication" role="button"
                >Read more &raquo;</a
              >
            </p>
          </div>
          <div class="col-md-3">
            <h2>Access Control</h2>
            <p>
              Access control is enforced in the Dexie Cloud backend. A
              multi-tenant model lets your users keep their own private data for
              themselves, or share it with their teams or friends.
            </p>
            <p>
              <a class="btn btn-success" href="access-control" role="button"
                >Read more &raquo;</a
              >
            </p>
          </div>
          <div class="col-md-3">
            <h2>Scale to Millions</h2>
            <p>
              Dexie cloud is built to scale both vertically and horizontally. We
              use an auto-scalable cloud infrastructure and we balance both our
              and your tenants across a dynamic cluster of shards.
            </p>
            <p>
              <a class="btn btn-success" href="scaling" role="button"
                >Read more &raquo;</a
              >
            </p>
          </div>
        </div>
      </div>
      <hr/>
      <h2 id="getting-started">Get started with Dexie Cloud</h2>
        <p>This guide assumes you're familiar with using <span style="font-weight: bold;">npm</span> to manage dependencies.
          If you're unfamiliar with all that, try read <a href="https://webpack.js.org/guides/getting-started/">webpack's get started guide</a>.
          </p>
        <div class='row'>
          <div class='col-md-6'>
            <h3>1. Install dexie and dexie-cloud</h3>
            <p><span style="font-weight: bold">cd</span> to your web app and install dexie and dexie-cloud:</p>
            <pre class="command-line language-bash" data-prompt="~/my-dexie-app $"><code style="margin:0;">npm install dexie dexie-cloud</code></pre>
            <h3>2. Create your database in the cloud</h3>
            <pre class="command-line language-bash" data-prompt="~/my-dexie-app $"><code style="margin:0;">npx dexie-cloud create-db</code></pre>
            <p>This command will prompt for and verify your email address and then create a new database for you in the cloud.
            <p>
              Your database will be given its own unique URL, printed out on the console. Use that URL in step 3.
              <p>Two new files will also be saved locally.
            The files points out the db URL and authenticates further usage of the <span style="font-family: monospace;">dexie-cloud</span> CLI.
              The files are not required for the runtime webapp.</p>
            <pre><code style="margin:0;">~/my-dexie-app $ npx dexie-cloud create-db
Enter your E-mail address: foo@bar.com
Enter OTP (check your email!): x067ae
Database successfully created.
Database URL: https://dnsdjknfd.dexie.cloud
~/my-dexie-app $ ls -l
-rw-r--r--    1 user staff       4  1 Oct 15:38 dexie-cloud.json
-rw-r--r--    1 user staff       4  1 Oct 15:38 dexie-cloud.secret
...</code></pre>
              <p>The json file may be added to git, but never the .secret one.</p>
          </div>
          <div class='col-md-6'>
            <h3>3. Code your app</h3>
            <pre><code class="language-javascript" style="margin:0;">  import Dexie from "dexie";
  import DexieCloud from "dexie-cloud";

  // Declare your DB
  const db = new Dexie('myDB', {addons: [DexieCloud]});
  db.version(1).stores({
    todoItems: '$$id, title, done' // $$ = autogenerated UUID
  });

  // Connect your dexie-cloud database:
  db.cloud.connect("https://&lt;yourdatabase&gt;.dexie.cloud", {
    requireAuth: true
  });

  document.getElementById('addButton').onclick = async () => {
    // Create data:
    await db.todoItems.add({title: "Foo" + Math.random(), done: 0});
  }

  // Query data:
  db.todoItems.where({done: 0}).toArray().then(todoItems => {
    console.log(todoItems);
  });</code></pre>
    <h3>4. Done!</h3>
    <p>Refresh webpage and enjoy bidirectional sync!</p>
    <p style="font-style: italic;">Read more about how to <a href="access-control">share data between users</a> and
    <a href="authentication">customize authentication</a>.</p>
    

          </div>
          </div>
      </div>
  
      <hr/>
        
      {{ content }}
    </main>

    {% include footer.html %}

    <script src="/assets/js/prism-2020.js"></script>
		<script src='/assets/js/jquery.min.js'></script>
		<script src='/assets/js/bootstrap.min.js'></script>

    {% include google-analytics.html %}

    <!-- Include dexie for people wanting to open devtools to laborate -->
    <script async src="https://unpkg.com/dexie"></script>

    <!-- Highlight anchors the same way as github wiki works -->
    <script defer src="/assets/js/highlight-anchors.js"></script>
  </body>
</html>
