---
prismStyle: 'vscode-dark'
---
<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include dexie-cloud-header.html %}

    <main class="container">
      <div id="callouts">
        <div class="row">
          <div class="col-md-3">
            <h2>Offline First</h2>
            <p>
              While online, changes are synced instantly in both directions. When offline,
              your users can continue using your app without disruptions.
              Dexie Cloud gives your users a seamless offline/online experience.
            </p>
            <p>
              <a class="btn btn-success" href="offline-first" role="button"
                >Read more &raquo;</a
              >
            </p>
          </div>
          <div class="col-md-3">
            <h2>Authentication</h2>
            <p>
              Most apps use a mix of private, shared and public data.
              Authentication is needed to distinguish what to sync to who. Keep
              your own authentication if you already have one for your app. If
              not, Dexie Cloud comes with a dead-simple email OTP
              authentication.
            </p>
            <p>
              <a class="btn btn-success" href="authentication" role="button"
                >Read more &raquo;</a
              >
            </p>
          </div>
          <div class="col-md-3">
            <h2>Access Control</h2>
            <p>
              Access control is enforced in the Dexie Cloud backend. A
              multi-tenant model lets your users keep their own private data for
              themselves, or share it with their teams or friends.
            </p>
            <p>
              <a class="btn btn-success" href="access-control" role="button"
                >Read more &raquo;</a
              >
            </p>
          </div>
          <div class="col-md-3">
            <h2>Scale to Millions</h2>
            <p>
              Dexie cloud is built to scale both vertically and horizontally. We
              use an auto-scalable cloud infrastructure and we balance both our
              and your tenants across a dynamic cluster of shards.
            </p>
            <p>
              <a class="btn btn-success" href="scaling" role="button"
                >Read more &raquo;</a
              >
            </p>
          </div>
        </div>
      </div>
      <hr/>
      <h2 id="getting-started">Get started with Dexie Cloud</h2>
        <div class='row'>
          <div class='col-md-6'>
            <h3>1. Install dexie-cloud</h3>
            <p>cd to your dexie-app and install dexie-cloud:</p>
            <pre class="command-line language-bash" data-prompt="~/my-dexie-app $"><code style="margin:0;">npm install dexie-cloud</code></pre>
            <h3>2. Create your database in the cloud</h3>
            <pre class="command-line language-bash" data-prompt="~/my-dexie-app $"><code style="margin:0;">npx dexie-cloud create-db</code></pre>
            <p>This command will prompt for and verify your email address and then create a new database for you in the cloud.
            Two new files will be saved locally.</p>
            <p>The files points out the db URL and authenticates further usage of the <span style="font-family: monospace;">dexie-cloud</span> CLI.
              The files are not required for the runtime webapp.</p>
            <pre><code style="margin:0;">~/my-dexie-app $ ls -l
-rw-r--r--    1 user staff       4  1 Oct 15:38 dexie-cloud.json
-rw-r--r--    1 user staff       4  1 Oct 15:38 dexie-cloud.secret
...</code></pre>
              <p>The json file may be added to git, but never the .secret one.</p>
              <h3>3. Trust the URLs of your app</h3>
              <pre class="command-line language-bash" data-prompt="~/my-dexie-app $"><code style="margin:0;">npx dexie-cloud add-client "http://localhost:8080"
npx dexie-cloud add-client "https://my-app.com"</code></pre>
            <p>
              This command white-lists your app URLs (so that <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS">CORS</a> headers works).
            </p>
          </div>
          <div class='col-md-6'>
            <h3>4. Connect Dexie.js to the cloud</h3>
            <pre><code class="language-javascript">
    import Dexie from "dexie";
    
    //
    // Enable dexie-cloud:
    //
    import "dexie-cloud";

    // Declare your Dexie the way you're used to...
    const db = new Dexie('yourDb');
    db.version(...).stores({
      ...your schema // Replace "++"-keys with "$$" to get guids.
    });
    
    //
    // Connect your dexie-cloud database:
    // This should be done directly after schema creation and
    // will start to continously sync your database in both directions.
    //
    db.cloud.connect("https://&lt;yourdatabase&gt;.dexie.cloud", {
      requireAuth: true
    });
  </code></pre>
    <h3>5. Done!</h3>
    Refresh webpage. Enjoy being connected!
    

          </div>
          </div>
      </div>
  
      <hr/>
        
      {{ content }}
    </main>

    {% include footer.html %}

    <script src="/assets/js/prism-2020.js"></script>

    {% include google-analytics.html %}

    <!-- Include dexie for people wanting to open devtools to laborate -->
    <script async src="https://unpkg.com/dexie"></script>

    <!-- Highlight anchors the same way as github wiki works -->
    <script defer src="/assets/js/highlight-anchors.js"></script>
  </body>
</html>
