---
layout: default
---

<div class="row">
  <div class="col-xs-12 col-md-8">
    <div class="row docs-page-subheader">
      <h1 class="col-xs-12 col-md-10">{{ page.title }}</h1>
      <div class="hidden-xs col-md-2">
        <a class="btn btn-primary btn-edit-doc-page" href="https://github.com/dfahlander/dexie.js-web/edit/gh-pages/{{ page.path }}">
          <span class="glyphicon glyphicon-edit"></span>&nbsp; Edit
        </a>
      </div>
    </div>

    <div class="row docs-page-subtitle">
      <div class="col-xs-12">
        {{page.subtitle}}
      </div>
    </div>
    <div class="row docs-page">
      <div class="col-xs-12">
        {{ content }}
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-4">
    <div class="row docs-page-subheader">
      <h3><a href="{% link docs/index.md %}">Dexie Docs</a></h3>
      <div class="docs-toc-wrapper">

        {% assign pages = site.tutorial | sort: 'weight' %}
        {% assign index = pages | first %}
        {% assign pages = pages | shift %}
        <h4><a href="{{ index.url }}">{{ index.title }}</a></h4>
        <ul class="docs-toc">
          {% for page in pages %}
            <li>
              <a href="{{ page.url }}">{{ page.title }}</a>
            </li>
          {% endfor %}
        </ul>

        {% assign pages = site.misc | sort: "title" %}
        <h4>Misc</h4>
        <ul class="docs-toc">
          {% for page in pages %}
            <li>
              <a href="{{ page.url }}">{{ page.title }}</a>
            </li>
          {% endfor %}
        </ul>

        <h4><a href="{% link docs/API-Reference.md %}">API Reference</a></h4>
        {% assign groups = site.api_ref | group_by_exp: "item", "item.relative_path | split: '/' | shift | first" %}
        {% for group in groups %}
          <h5>{{ group.name }}</h5>
          <ul class="docs-toc">
            {% assign pages = group.items | sort: "title" %}
            {% for page in pages %}
            <li>
              <a href="{{ page.url }}">{{ page.title }}</a>
            </li>
            {% endfor %}
          </ul>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
